<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contato.css">
  
    <title>Document</title>

</head>
<body>
<div class="menuhorizontal">
    <div class="logo">
        <img src="images\logo2.png" class="img">
    </div> 
    <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="entrar.html">Entrar / Registrar</a></li>
        <li><a href="contato.html">Contato</a></li>

    </ul>
    </div>
    <div class="banner1">
        <img src="images\fundoEscuro.png" class="img2">
    </div>

    <div class="caixa">
        <div>
            <h2>Contato</h2>
            <form action="container">
                <div class="input-field">
                    <input type="text" name="name" id="nome" placeholder="Nome">
                <div class="underline"></div>
                </div>
                <div class="input-field">
                    <input type="email" name="email" id="email" placeholder="E-mail">
                <div class="underline"></div>
                </div>
                <div class="input-field">
                    <input type="tel" name="telefone" id="telefone" placeholder="Telefone">
                <div class="tel"></div>
                </div>
                <div class="input-field">
                    <input type="text" name="assunto" id="assunto" placeholder="Assunto">
                <div class="underline"></div>
                </div>
                <div class="input-field">
                    <input type="text" name="mensagem" id="mensagem" placeholder="Sua mensagem">
                <div class="underline"></div>
                </div>
                <li><input class="botao1" type="submit" value="Enviar">
            </form>
        </div>
    </div>
    <div class="rodape">
        <div class="textos_rodape">
            <ul>
                <li><a href="#"><i class="fa-brands fa-whatsapp"></i>WhatsApp</a></li>
                <li><a href="#">Email para orçamento</a></li>
            </ul>
        </div>
    </div>
    </body>
    </html>