/*
exemplo de uso: https://www.bp.org.br/
*/

.cor_fonte_especiais{
    color: #b48c4d
}

.cor_fonte_padrao{
    color: #120e07
}

.vermelho_sangue{
    color: #d92124
}

.cor_base_principal{
    color: #4b12b5
}

.cor_base_sombra{
    color: #35078c
}